*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
eShop/.idea/compiler.xml
eShop/.idea/gradle.xml
eShop/.idea/vcs.xml
eShop/.idea/misc.xml
eShop/.idea/jarRepositories.xml
